.DkPlayerWrapper {
	position: absolute;
	bottom: 0;
	width: 100%;
	text-align: center;
	/*background-color: green;*/
}

.PlayerProgress {
	display: inline-block;
	height: 10%;
}

.PlaybackControls {
	/*float: left;*/
	/*display: inline-block;*/
}

